@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: rgb(223, 245, 255);
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
}

.tabpanel {
  overflow-y: auto;
  width: 100%;
  height: 100vh;
}

.brand-logo {
  width: 110px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 9;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.App *{
  font-family: 'Montserrat', sans-serif;
}

.App {
  width: 100%;
  position: relative;
}

.Quiz {
  max-width: 1150px;
  width: 100%;
  position: relative;
  margin: auto;
}

.answerImage {
  margin:  15px auto 0;
  display: flex;
  padding:10px;
  max-width: 100px;
}

.container {
  position: relative;
  border-radius: 3px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
  width: 100%;
}

::placeholder {
  color:#ccc;
}

.info-error {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: #ff2b2b;
  font-weight: 700;
  font-size: 14px;
}

.info-not-found {
  margin: auto;
  text-align: center;
  color: #ff2b2b;
  font-weight: 700;
  font-size: 14px;
}

::ms-input-placeholder {
  color:#ccc;
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}

/* Quiz Component */
.answerOptions {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

.thankYou {
  text-align: center;
  line-height: 1.5;
  color: #000000bb;
  font-size: 26px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.thankYou p, .thankYou h2 {
  margin: 0;
  padding: 5px;
  max-width: 90%;
}

a {
  text-decoration: none;
  color:rgb(14, 14, 61);
}

.questionContainer {
  margin-top:-40px;
  max-width: 80%;
}

/* QuestionCount Component */
.questionCount {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  border-radius: 30px;
  padding: 12px;
  opacity: 0.9;
  box-shadow: 0 4px 8px #00000010;
}

.questionDot {
  min-width: 10px;
  min-block-size: 10px;
  margin: 0 10px;
  border-radius: 30px;
  opacity: 0.3;
}

.questionDot.active {
  opacity: 0.65;
}

.questionDot.current {
  opacity: 0.9;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.75em 0 0.75em;
  text-align: center;
  line-height: 1.5;
  color: #000000bb;
  font-size: 32px;
}

input[type="checkbox"]:disabled, .disabled, .disabled label {
  cursor: not-allowed!important;
}

input[type="checkbox"]:disabled, .disabled {
  opacity: 0.5!important;
}

/* AnswerOption Component */
.answerOption {
  width: 200px;
  position: relative;
}

.answerOptions input[type=text], 
.answerOptions input[type=email],
.answerOptions input[type=number]{
  border:none;
  height: 45px;
  border-radius: 30px;
  padding:0 1em;
  width: 200px;
  text-align: center;
  font-size: 17px;
  box-shadow: 0 4px 8px #00000010;
  margin: 1em 0;
  border-radius: 30px;
}

.radioOption, .multiOption {
  border:none;
  box-shadow: 0 4px 8px #00000010;
  background-color: white;
  margin: 10px;
  border-radius: 15px;
  transition: all linear 0.1s;
  position: relative;
}

.radioOption::after, .radioOption::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  opacity: 0;
  transition: all ease-in 0.1s;
  box-sizing: border-box;
  pointer-events: none;
}

.radioOption:hover:after {
  opacity: 1;
}

.radioOption:hover:before {
  opacity: 0.09;
}



.answerOptions input[type=text]:focus,
.answerOptions input[type=email]:focus,
.answerOptions input[type=number]:focus {
  border: none;
  outline: none;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.multiOption input{
  display: none;
}

.multiOption label {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}

.multiOption label {
  transition: all 0.1s linear;
}

.multiOption label::after , .multiOption label::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  opacity: 0;
  transition: all linear 0.1s;
  box-sizing: border-box;
  pointer-events: none;
}

.multiOption input:checked ~ label::after,
.multiOption input:checked ~ * label::after,
 .multiOption:hover label::after {
  opacity: 1;
}

.multiOption input:checked ~ label::before,
.multiOption input:checked ~ * label::before, 
.multiOption:hover label::before {
  opacity: 0.2;
}

.radioCustomButton,
.radioCustomLabel,
.multiCustomButton,
.multiCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel,
.multiCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.5;
  pointer-events: none;
}

.multiCustomLabel {
  pointer-events: all;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

body {
  overflow: hidden;
}

.body {
  width: 208.8px;
  height: 489.6px;
  margin : 0 2em;
}

.body label {
  transition: all 0.1s linear;
}

.body input:checked ~ * label::after,
.body input:checked ~ label::after,  
.bodySelect:hover label::after {
  opacity: 1;
}

.body label {
  width: 100%;
  height: 100%;
}

.body input:checked::before, .bodySelect:hover label::before {
  opacity: 0.2;
}

.bodySelect label::after, .bodySelect label::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  opacity: 0;
  transition: all linear 0.1s;
  box-sizing: border-box;
  pointer-events: none;
}

.bodySelect input {
  display: none;
}

.bodySelect {
  position: absolute;
  list-style-type: none;
  width: fit-content;
  width: auto;
  padding: 4px 10px;
  background: white;
  opacity: 0.8;
  border-radius: 20px;
  line-height: 1;
  border:none;
  box-shadow: 0 4px 8px #00000010;
  z-index: 9;
}

.bodySelect:hover {
  opacity: 1;
}

.bodySelect label {
  font-size: 11px;
  line-height: 1;
  cursor: pointer;
}

.color-select {
  border:3px solid rgb(255, 255, 255);
  box-shadow: 0 0px 5px #000000cc;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.color-picker {
  position: absolute;
  left:0;
  right: 0;
  z-index: 78;
}

.question-description {
  text-align: center;
  margin: 0 auto 1.5em;
  width: 80%;
  line-height: 1.5;
}

.categories-settings {
  display: flex;
  align-items: center;
  position: relative;
}

.categories-settings>span {
  margin-right: 1em;
  font-size: 14px;
}

.categories-settings td {
  font-size: 14px;
  min-width: 75px;
  margin: auto;
  text-align: center;
}

/* .bodySelect input {
  display: none;
} */

#bodyFront {
  margin-bottom: 100px;
}

#Cou{
  top: 70px;
  left: 84px;
}

#Plidusoutien-gorge{
  left: 8px;
  top: 147px;
}

#Ailesdange{
  left: 80px;
  top:115px;
}

#Poigneesdamour {
  top: 195px;
  left: 15px;
}

#Culottedecheval {
  top: 255px;
  left: 79px;
}

#Genoux {
  top: 324px;
  left: 20px;
}

#Menton {
  top: 78px;
  left: 72px;
}

#Decollete {
  top:120px;
  left: 75px;
}

#Pseudogynecomastie {
  top: 136px;
  left: -75px;
}

#Bras {
  left: 160px;
  top: 165px;
}

#Ventre {
    top: 211px;
    left: 65px;
}

#Cuisses{
  top: 300px;
  left: 122px;
}

#Mollets {
  top: 395px;
  left: 44px;
}

.body {
  position: relative;
}

circle {
  cursor: pointer;
  pointer-events: all;
}

line {
  display: none;
}

#Capa_1, #Capa_2 {
  pointer-events: none;
}

.btn-nav {
  border-radius: 100%;
  box-shadow: 0 4px 8px #00000025;
  border: none;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9;
  outline: none;
  transition: all ease-in 0.2s;
}

.btn-nav:hover {
  filter : brightness(0.95)
}

.btn-nav-demo {
  position: relative;
  margin : 0 1em;
  display: block;
}

.btn-prev {
  border-radius: 50px;
  padding: 0 1.5em;
  height: 50px;
  position: fixed;
  bottom:75px;
  left: 25px;
}

.btn-prev svg {
  margin-right: 0.5em;
}

.btn-next {
  right: 25px;
  height: 50px;
  width: 50px;
  max-height: 50px;
  max-width: 50px;
  min-height: 50px;
  min-width: 50px;
  margin: auto 1.5em;
}

.btn-next svg {
  margin-left:4px;
}

.btn-checkbox-body {
  border-radius: 50px;
  padding: 0 1.5em;
  height: 50px;
  position: absolute;
  bottom: 16px;
  margin: auto;
}

.btn-checkbox {
  width: auto;
  border-radius: 50px;
  padding: 0 1.5em;
  height: 50px;
  margin: 1.5em auto;
}

.btn-checkbox span, .btn-checkbox-body span{
  margin: 0 0.5em;
}

@media screen and (max-width:768px) {
  body {
    overflow: auto;
  }
  .answerOptions {
    flex-direction : column;
    margin: auto;
    width: fit-content;
  }
  .container {
    align-items: flex-start;
    padding-top:100px;
  }
  .questionCount {
    bottom: 30px;
    box-shadow: 0 4px 8px #00000010;
  }
  .questionContainer {
    margin-top:0
  }
  .brand-logo {
    left:0;
    right: 0;
    margin: auto;
  }
  .btn-checkbox-body {
    position: relative;
    margin: 0 auto 8em;
    width: fit-content;
  }
}