@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: rgb(223, 245, 255);
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
}

.tabpanel {
  overflow-y: auto;
  width: 100%;
  height: 100vh;
}

hr {
  border: 0;
  height: 1px;
  color: rgba(224, 224, 224, 1);
  background-color: rgba(224, 224, 224, 1);
}

.brand-logo {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 9;
}

* {
  box-sizing: border-box;
}

.App * {
  font-family: "Montserrat", sans-serif;
}

.App {
  width: 100%;
  position: relative;
}

#editor-js {
  background-color: white;
  padding: 3em;
  text-align: center;
  border-radius: 0.5em;
  border: 1px solid rgb(228, 228, 228);
}

.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

.MuiOutlinedInput-input {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.Quiz {
  width: 100%;
  position: relative;
  margin: auto;
  height: 100vh;
}

.answerImage {
  margin: 15px auto 0;
  display: flex;
  padding: 10px;
  max-width: 115px;
}

.container {
  position: relative;
  border-radius: 3px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  width: 100%;
}

.info-error {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: #ff2b2b;
  font-weight: 700;
  font-size: 14px;
}

.info-not-found {
  margin: auto;
  text-align: center;
  color: #ff2b2b;
  font-weight: 700;
  font-size: 14px;
}

::ms-input-placeholder {
  color: #ccc;
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}

/* Quiz Component */
.answerOptions {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

.thankYou {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.thankYou p,
.thankYou h2 {
  margin: 0;
  padding: 5px;
  max-width: 90%;
}

a {
  text-decoration: none;
  color: rgb(14, 14, 61);
}

.questionContainer {
  margin-top: -75px;
  max-width: 80%;
}

/* QuestionCount Component */
.questionCount {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  border-radius: 30px;
  padding: 12px;
  opacity: 0.9;
}

.questionDot {
  min-width: 10px;
  min-block-size: 10px;
  margin: 0 10px;
  border-radius: 30px;
  opacity: 0.4;
  box-shadow: 0 4px 8px #00000025;
}

.questionDot.active {
  opacity: 0.65;
}

.questionDot.current {
  opacity: 0.9;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.75em 0 0.75em;
  text-align: center;
  line-height: 1.5;
  color: #000000bb;
  font-size: 32px;
  max-width: 1150px;
}

input[type="checkbox"]:disabled,
.disabled,
.disabled label {
  cursor: not-allowed !important;
}

input[type="checkbox"]:disabled,
.disabled {
  opacity: 0.5 !important;
}

/* AnswerOption Component */
.answerOption {
  width: 200px;
  position: relative;
}

.answerOptions input[type="text"],
.answerOptions input[type="email"],
.answerOptions input[type="number"] {
  border: none;
  height: 45px;
  border-radius: 30px;
  padding: 0 1em;
  width: 200px;
  text-align: center;
  font-size: 17px;
  box-shadow: 0 4px 8px #00000010;
  margin: 1em 0;
  border-radius: 30px;
}

.radioOption,
.multiOption {
  border: none;
  box-shadow: 0 4px 8px #00000010;
  background-color: white;
  margin: 10px;
  border-radius: 15px;
  transition: all linear 0.1s;
  position: relative;
}

.radioOption::after,
.radioOption::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  opacity: 0;
  transition: all ease-in 0.1s;
  box-sizing: border-box;
  pointer-events: none;
}

.radioOption:hover:after {
  opacity: 1;
}

.radioOption:hover:before {
  opacity: 0.09;
}

.answerOptions input[type="text"]:focus,
.answerOptions input[type="email"]:focus,
.answerOptions input[type="number"]:focus {
  border: none;
  outline: none;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.multiOption input {
  display: none;
}

.multiOption label {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}

.multiOption label {
  transition: all 0.1s linear;
}

.multiOption label::after,
.multiOption label::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  opacity: 0;
  transition: all linear 0.1s;
  box-sizing: border-box;
  pointer-events: none;
}

.multiOption input:checked ~ label::after,
.multiOption input:checked ~ * label::after,
.multiOption:hover label::after {
  opacity: 1;
}

.multiOption input:checked ~ label::before,
.multiOption input:checked ~ * label::before,
.multiOption:hover label::before {
  opacity: 0.2;
}

.MuiSvgIcon-root {
  padding: 0;
  margin-bottom: 0 !important;
}

.MuiTab-labelIcon {
  min-height: 60px !important;
}

.radioCustomButton,
.radioCustomLabel,
.multiCustomButton,
.multiCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel,
.multiCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.5;
  pointer-events: none;
}

.multiCustomLabel {
  pointer-events: all;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

body {
  overflow: hidden;
}

.body {
  width: 208.8px;
  height: 489.6px;
  margin: 0 2em;
}

.body label {
  transition: all 0.1s linear;
}

.body input:checked ~ * label::after,
.body input:checked ~ label::after,
.bodySelect:hover label::after {
  opacity: 1;
}

.body label {
  width: 100%;
  height: 100%;
}

.codex-editor--narrow .codex-editor__redactor {
}

.codex-editor--narrow .ce-block--focused {
  padding: 0 !important;
  margin: 0 !important;
}

.ce-header {
  padding: 0 !important;
  margin: 0 !important;
}

.ce-toolbar__plus {
  border-radius: 100%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.ce-toolbox--opened {
  border-radius: 20px;
  padding: 0 0.5em;
  left: 15px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.codex-editor__redactor {
  padding: 0 !important;
}

.body input:checked::before,
.bodySelect:hover label::before {
  opacity: 0.2;
}

.bodySelect label::after,
.bodySelect label::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  opacity: 0;
  transition: all linear 0.1s;
  box-sizing: border-box;
  pointer-events: none;
}

.bodySelect input {
  display: none;
}

.bodySelect {
  position: absolute;
  list-style-type: none;
  width: auto;
  width: fit-content;
  padding: 4px 10px;
  background: white;
  opacity: 0.9;
  border-radius: 20px;
  line-height: 1;
  border: none;
  box-shadow: 0 4px 8px #00000010;
  z-index: 9;
}

.bodySelect:hover {
  opacity: 1;
}

.bodySelect label {
  font-size: 11px;
  line-height: 1;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.color-select {
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 0 0px 5px #000000cc;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.color-picker {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 78;
}

.question-description {
  text-align: center;
  margin: 0 auto 1.5em;
  width: 80%;
  line-height: 1.5;
  max-width: 1150px;
}

.categories-settings {
  display: flex;
  align-items: center;
  position: relative;
}

.categories-settings > span {
  margin-right: 1em;
  font-size: 14px;
}

.categories-settings td {
  font-size: 14px;
  min-width: 75px;
  margin: auto;
  text-align: center;
}

/* .bodySelect input {
  display: none;
} */

#bodyFront {
  margin-bottom: 100px;
}

.body {
  position: relative;
}

circle {
  cursor: pointer;
  pointer-events: all;
}

line {
  display: none;
}

#Capa_1,
#Capa_2 {
  pointer-events: none;
}

.btn-nav {
  border-radius: 100%;
  box-shadow: 0 4px 8px #00000025;
  border: none;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9;
  outline: none;
  transition: all ease-in 0.2s;
}

.btn-nav:hover {
  filter: brightness(0.95);
}

.btn-nav-demo {
  position: relative;
  margin: 0 1em;
  display: block;
}

.btn-prev {
  border-radius: 50px;
  padding: 0 1.5em;
  height: 50px;
  position: fixed;
  bottom: 25px;
  left: 25px;
}

.btn-prev svg {
  margin-right: 0.5em;
}

.btn-next {
  right: 25px;
  height: 50px;
  width: 50px;
  max-height: 50px;
  max-width: 50px;
  min-height: 50px;
  min-width: 50px;
  margin: auto 1.5em;
}

.btn-next svg {
  margin-left: 4px;
}

.btn-checkbox-body {
  border-radius: 50px;
  padding: 0 1.5em;
  height: 50px;
  bottom: 16px;
  margin: auto;
}

.btn-checkbox {
  width: auto;
  border-radius: 50px;
  padding: 0 1.5em;
  height: 50px;
  margin: 1.5em auto;
}

.btn-checkbox span,
.btn-checkbox-body span {
  margin: 0 0.5em;
}

@media screen and (max-width: 768px) {
  body {
    overflow: auto;
  }
  .answerOptions {
    flex-direction: column;
    margin: auto;
    width: fit-content;
  }
  .answerOptions.answerInput {
    flex-direction: row;
  }
  .container {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .questionCount {
    bottom: 25px;
  }
  .questionContainer {
    margin: 0 auto;
  }
  .brand-logo {
    position: fixed;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
  }
  .btn-checkbox-body {
    position: relative;
    margin: 4em auto 8em;
    width: fit-content;
  }
  .btn-prev span {
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
  .btn-prev {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    top: 25px;
  }
  .btn-prev svg {
    width: 18px;
    height: 18px;
    margin: auto;
  }
}
