@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: rgb(223, 245, 255);
}

.tabpanel {
  overflow-y: auto;
  width: 100%;
  height: 100vh;
}

.brand-logo {
  width: 110px;
  position: absolute;
  top: 30px;
  left: 30px;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.App *{
  font-family: 'Montserrat', sans-serif;
}

.answerImage {
  margin:  15px auto 0;
  display: flex;
  padding:10px;
  max-width: 100px;
}

.container {
  position: relative;
  margin: 0 auto;
  border-radius: 3px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
  width: 90%;
}

::placeholder {
  color:#ccc;
}

.info-error {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: #ff2b2b;
  font-weight: 700;
  font-size: 14px;
}

::ms-input-placeholder {
  color:#ccc;
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}

/* Quiz Component */
.answerOptions {
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

.thankYou {
  text-align: center;
  line-height: 1.5;
  color: #000000bb;
  font-size: 26px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.thankYou p, .thankYou h2 {
  margin: 0;
  padding: 5px;
  max-width: 90%;
}

a {
  text-decoration: none;
  color:rgb(14, 14, 61);
}

.questionContainer {
  margin-top:-40px;
}

/* QuestionCount Component */
.questionCount {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  border-radius: 30px;
  padding: 12px;
  background:white;
  box-shadow: 0 4px 8px #00000010;
}

.questionDot {
  min-width: 10px;
  min-block-size: 10px;
  margin: 0 10px;
  border-radius: 30px;
  background-color: rgb(194, 194, 194);
}

.questionDot.active {
  background-color: rgb(61, 61, 61);
}

.questionDot.current {
  background-color: rgb(134, 134, 134);
}

/* Question Component */
.question {
  margin: 0;
  padding: 1.5rem 0 1.5rem;
  text-align: center;
  line-height: 1.5;
  color: #000000bb;
  font-size: 32px;
}

/* AnswerOption Component */
.answerOption {
  background-color: white;
  width: 200px;
  margin: 10px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 4px 8px #00000010;
}

.answerOptions input[type=text], 
.answerOptions input[type=email],
.answerOptions input[type=number]{
  width: 200px;
  border:none;
  height: 45px;
  border-radius: 30px;
  text-align: center;
  font-size: 17px;
}


.answerOptions input[type=text]:focus,
.answerOptions input[type=email]:focus,
.answerOptions input[type=number]:focus {
  border: none;
  outline: none;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.5;
  pointer-events: none;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

body {
  overflow: hidden;
}

@media screen and (max-width:768px) {
  body {
    overflow: auto;
  }
  .answerOptions {
    flex-direction : column;
    margin: auto;
    width: fit-content;
  }
  .container {
    align-items: flex-start;
    padding-top:100px;
  }
  .questionCount {
    bottom: 30px;
    background:white;
    box-shadow: 0 4px 8px #00000010;
  }
  .questionContainer {
    margin-top:0
  }
  .brand-logo {
    left:0;
    right: 0;
    margin: auto;
  }
}


.bodySelect {
  width: 100%;
  max-width: 270px;
  padding: 1em 3em;
}

circle {
  cursor: pointer;
  pointer-events: all;
}

line {
  display: none;
}

#Capa_1, #Capa_2 {
  pointer-events: none;
}

.btn-nav {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  box-shadow: 0 4px 8px #00000025;
  background-color: white;
  border: none;
  top:0;
  bottom:0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}

.btn-next svg {
  margin-left:4px;
}